*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* PRELOADING */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* INICIO DA PAGINA ---------------- */

.container-principal{
    background-image: url("https://source.unsplash.com/2500x1667/?city");
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container-bigger{
 background-color: #000000;
 padding: 20px;
 border-radius: 20px;
 opacity: 0.9;
 width: 95%;
 max-width: 500px;
 box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
 -webkit-box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
 -moz-box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
 z-index: 1;
 
 
 animation: flutuacao 5s ease-in-out infinite;
}

@keyframes flutuacao {
    0%, 100%{
        transform: translateY(-1%)
    }
    50%{
        transform: translateY(3%)
    }
}


.input-city{
 border: none;
 outline: none;
 padding: 10px;
 border-radius: 20px;
 font-size: 20px;
 background-color: #7c7c7c2b;
 color:#ffffff;
 max-width: calc( 100% - 60px );

}
.button{
border: none;
outline:none;
padding: 10px;
border-radius: 50%;
background-color: #7c7c7c2b;
float: right;
cursor: pointer;

}

.img-button{
    height: 20px;
    filter: invert(66%) sepia(11%) saturate(1861%) hue-rotate(155deg) brightness(85%) contrast(91%);
}

.city{
    color: #ffffff;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 19px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 700;
}

.container-small{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    padding: 0px 10px;
    border-radius: 20px;
    z-index: 5;
    position: relative;
    left: -40px;
    top: 20px;
    box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
 -webkit-box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
 -moz-box-shadow: 0px 8px 42px -13px rgba(0,0,0,0.79);
    
    opacity: 0.95;
    animation: flutuacao2 4s ease-in-out infinite;
}

@keyframes flutuacao2 {
    0%, 100%{
        transform: translateY(-2%)
    }
    50%{
        transform: translateY(2%)
    }
}

.climate{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    
}

.img-temp{
    width: 80px;
    
    
 }

.info-hum{
 color: #ffffff;
 margin-top: 20px;
 
}

